$body-color: #515151;
$white: #ffffff;
$lightgray: #fafafa;
$gray: #ecf0f1;
$dark-gray: #a0a0a0;
$dark-blue: #263959;
$dark: #333030;

// Typography
$font-family-base: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-heading: $font-family-base;